Cat ID:<%= @cat.id %><br>
Cat Name: <%= @cat.name %> <br>
<% if @cat.human.nil? %>
Belongs to: no one<br>
<% else %>
Belongs to: <a href="/humans/<%= @cat.human.id %>"><%= @cat.human.fname %></a><br>
Who lives at:  <%= @cat.home.address %><br>
<% end %>
<br>
<a href="/cats">Back to cats</a><br>
<a href="/">Back to index</a>
