<h1>House Listing</h1>
Address: <%= @house.address %><br>
Occupants:<br>
<ul>
  <% @house.humans.each do |human| %>
  <li><a href="/humans/<%= human.id %>"><%= human.fname + " " + human.lname %></a></li>
  <% end %>
</ul>

Cats:
<ul>
  <% @house.cats.each do |cat| %>
  <li><a href="/cats/<%= cat.id %>"><%= cat.name %></a></li>
  <% end %>
</ul>


<a href="/">Index</a><br>
<a href="/houses">All houses</a><br>
<a href="/houses/<%= @house.id %>/edit">Edit this house</a><br>
