<h1>Create new human form</h1>

<form action="/humans" method="post">
  <label>First Name:
    <input type="text" name="human[fname]" value="<%= @human.fname %>">
  </label>
  <div><%= flash['errors']['fname'] unless flash[:errors].nil? %></div>
  <label>Last Name:
    <input type="text" name="human[lname]" value="<%= @human.lname %>">
  </label>
  <div> <%= flash[:errors]['lname'] unless flash[:errors].nil? %></div>
  <select class="" name="human[house_id]">
    <option value="NULL">No house</option>
    <% House.all.each do |house| %>
    <option <%= "selected" if house.id == @human.house_id %> value="<%= house.id %>"><%= house.address %></option>
    <% end %>
  </select>
  <input type="submit" name="" value="Add Human">
</form>
