<h1>human show page</h1>
Full Name: <%= @human.fname + " " + @human.lname%><br>
Lives at: <%= (@human.house.nil? ? "n/a" : @human.house.address) %><br>
<%= @human.cats.count %> Cats Owned:
<ul>
  <% @human.cats.each do |cat| %>
  <li><a href="/cats/<%= cat.id %>"><%= cat.name %></a></li>
  <% end %>
</ul>

<a href="/humans">Go back to humans</a><br>
<a href="/">Go back to index</a>
